# Node.js
node_modules/
dist/
build/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
*.log

# Project specific
data/arranged_train/
backend/model/*.pt
backend/out.txt
.DS_Store
